 <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-balanced">
          <h1 class="title">Custom Priority</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <input ng-model="priority.custom" type="text">
            </label>
            <button class="button button-full button-balanced" ng-click="createContact(priority)">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>