<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
        <button class="button button-clear button-light" ng-click="modal.hide()">Cancel</button>
        <h1 class="title">Choose from Quadrants</h1>
        <button class="button button-clear button-light" ng-click="modal.hide()">Choose</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate" ng-repeat="quadrant in allQuadrants">
                <i class="fa icon" ng-class="quadrant.icon"></i>
                {{quadrant.name}}
            </ion-item>
        </ion-list>
    </ion-content>
 </ion-modal-view>