<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{quadrant.name}}">
  <ion-content class="padding">
    <!--<img ng-src="{{quadrant.img}}" style="width: 64px; height: 64px">-->
    <div class="center">
      <h2>
        {{quadrant.description}}
      </h2>
      <label class="item item-input">
        <input type="text" placeholder="Enter a goal for the quadrant" class="transparent">
      </label>
      <button class="button button-clear button-positive center">
        Clear Button
      </button>
    </div>
  </ion-content>
</ion-view>
