<ion-view view-title="Add new goal">
  <ion-nav-buttons side="right">
      <button class="button button-clear center" ng-disabled="isDisabled(goalDetails)" ng-click="addGoal(goalDetails)">
          Add
        </button>
    </ion-nav-buttons>
  <ion-content class="padding view-content">
    <div class="item item-divider balanced"> 
        {{goalDetails.quadrant.name}}
    </div>
    <div>
      <div class="margin-top">
        <label class="item item-input">
          <input type="text" placeholder="Enter a goal for the quadrant" class="transparent" ng-model="goalDetails.description">
        </label>
        <div>
         <div class="item item-divider balanced"> 
           Set Urgency
        </div>
        <div class="list">
            <ion-toggle ng-model="goalDetails.isUrgent" toggle-class="toggle-balanced">Urgent</ion-toggle>
            <ion-toggle ng-model="goalDetails.isImportant" toggle-class="toggle-balanced">Important</ion-toggle>
        </div>
        </div>
        <div>
           <div class="item item-divider balanced"> 
              Set Priority
              <i class="ion-plus-circled balanced pull-right medium" ng-click="modal.show()"></i>
           </div>
           <div class="list">
             <ion-radio ng-repeat="priority in priorities" ng-model="goalDetails.selectedPriority" ng-value="priority.id" class="dark">{{priority.text}}</ion-radio>
           </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
