<ion-view view-title="Goals" class="view-with-bg goals">
    <ion-content class="view-content">
    <!--<div class="item item-divider"> 
        Goals
    </div>-->
    <div class="message-container" ng-show="!hasGoals">
        <p class="message">{{message}}</p>
    </div>
       <ion-list ng-show="hasGoals">
            <ion-item class="item-remove-animate" ng-class="{ quadrant1:'q1', quadrant2: 'q2',quadrant3: 'q3', quadrant4: 'q4'}[goal.quadrantClass]" ng-repeat="goal in goals" type="item-text-wrap" href="#/tab/goals/{{goal.id}}">
            <ul class="table-view">
                <li class="table-view-cell media">
                    <div class="media-body">
                        <p>
                            {{goal.quadrantName}} - {{goal.description}}
                        </p>
                    </div>
                </li>
            </ul>
                <!--<h2 class="dark" ng-class="getCssClass(goal)">{{goal.quadrantName}} - {{goal.description}}</h2>-->
                <ion-option-button class="button-balanced icon ion-trash-a" ng-click="deleteGoal(goal)"></ion-option-button>
            </ion-item>
    </ion-list>
    </ion-content>
</ion-view>