<ion-view view-title="Goal-Detail" class="view-with-bg goalDetail">
    <ion-content class="view-content">
        <ul class="table-view no-margin no-border">
            <li class="table-view-cell-full no-padding media">
                <img class="article-image" src="../img/goal-detail/skyline.png">
                <!--<div class="backdrop-head">
                    <div class="article-header">
                        <div>Our Latest Travel Bucket List Additions</div>
                    </div>
                </div>-->
            </li>
        </ul>
        <!--<ul class="table-view no-margin no-border">
            <li class="table-view-cell-full no-padding no-border media">
                <div class="navigate-cell">
                    <a class="navigate article-author pull-left">
                        <div class="media-body text-upper">
                            Randy Perry
                            <p>October 23, 2014</p>
                        </div>
                    </a>
                    <a class="navigate article-stats pull-right">
                        <span class="badge badge-inverted">
                            <span class="icon icon-hearth-small social-stat"></span> 89
                        </span>
                        <span class="badge badge-inverted">
                            <span class="icon icon-share-left social-stat"></span> 234
                        </span>
                        <span class="badge badge-inverted">
                            <span class="icon icon-chat-text social-stat"></span> 26
                        </span>
                    </a>
                </div>
            </li>
        </ul>-->
    </ion-content>
</ion-view>