<ion-view view-title="Goal-Detail" class="view-with-bg goalDetail">
    <ion-content class="view-content">
                <div class="content">
        <ul class="table-view no-margin no-border">
            <li class="table-view-cell-full no-padding media">
                <img class="article-image" src="img/goal-detail/skyline.png">
                <!--<div class="backdrop-head">
                    <div class="article-header">
                        <h1>Our Latest Travel Bucket List Additions</h1>
                    </div>
                </div>-->
            </li>
        </ul>
        <ul class="table-view no-margin no-border">
            <li class="table-view-cell-full no-padding no-border media">
                <div class="navigate-cell">
                    <a class="navigate article-author pull-left">
                        <div class="media-body text-upper">
                            Randy Perry
                            <p>October 23, 2014</p>
                        </div>
                    </a>
                    <a class="navigate article-stats pull-right">
                        <span class="badge badge-inverted">
                            <i class="icon ion-ios-heart social-stat"></i> 89
                        </span>
                        <span class="badge badge-inverted">
                            <i class="icon ion-share social-stat"></i> 234
                        </span>
                        <span class="badge badge-inverted">
                            <i class="icon ion-chatbubbles social-stat"></i> 26
                        </span>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="table-view no-border">
			<li class="table-view-cell-social no-border body">
				<div class="media-body article-content">
					<p>Lorem ipsum Nisi quis laborum consequat consectetur sed occaecat pariatur Duis sunt occaecat reprehenderit nulla aliquip aute occaecat dolor pariatur quis minim laboris in consequat do velit officia proident cupidatat nulla sint amet occaecat.</p>
					<p>Excepteur occaecat occaecat laboris tempor aliqua in occaecat consectetur ad voluptate ea ex laborum tempor in ut nostrud Duis Ut in adipisicing ullamco minim velit cupidatat voluptate sunt voluptate velit exercitation pariatur sunt dolore ex aliqua ut dolor ea elit consectetur in elit id ut do tempor.</p>
					<p>Lorem ipsum Labore sunt ut deserunt do officia ea id tempor cillum culpa ullamco sed aute Duis labore exercitation dolore minim incididunt dolor aliqua esse tempor esse amet sed nisi minim qui culpa Ut qui mollit sit.</p>
				</div>
			</li>
		</ul>
                </div>
    </ion-content>
</ion-view>