<ion-view view-title="login" class="login">
    <ion-content>
  

        <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
        <div class="content">
            <div class="wrapper">
                <div class="logo">
                    <img class="logo-img" ng-src="img/sign-in/your_logo.png" alt="UI Deck Logo" />
                </div>
                <div class="card">
                    <form id="sign-in-form" class="input-group">
                        <input type="text" class="icon-username" name="username" placeholder="username">
                        <input type="password" class="icon-password" name="password" placeholder="password">
                        <button class="button button-full button-balanced">sign in</button>
                        <a href="#">Create an Account</a> | <a href="#">Lost Password?</a>
                    </form>
                </div>
            </div>
            <!--<div class="bar bar-footer bar-tab bar-transparent">
                <div class="table-row-group">
                    <div class="table-row">
                        <div class="table-cell text-center">
                            <small>
                                <strong>SIGN IN WITH</strong>
                            </small>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell text-center">
                            <a class="icon-facebook" href="#">facebook</a>
                            <a class="icon-twitter" href="#">twitter</a>
                            <a class="icon-gplus" href="#">google</a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </ion-content>
</ion-view>