body{ font-family: 'Open Sans', sans-serif;}
input[type="text"]{ height: 30px;}
.title, .bar-nav>a{ color: #fff; text-transform: uppercase;}
.text-center{ text-align: center; }
.blue-nav{ background-color: #3481b3;}
.blue-nav .icon{ color: #fff;}
.bar-header-secondary{background-color: #e9e9e9;}
.bar-standard{ border-bottom: none !important; height: 60px; padding-top: 13px;}
.bar-header-secondary ~ .content{ padding-top: 103px; }
.bar-button{ border-bottom: 1px solid #e4eff5; width: 100%; text-align: center; vertical-align: middle; padding: 10px; }
.bar-button .btn{ margin: 0px 2px 0px 2px; border-radius: 5px !important;}
.bar-button .icon{ font-size: 24px !important; }
.input-row{ height: 30px !important; border-bottom: none !important;}
.input-row input{ float: left !important; width: 80%;font-size: 13px; }
.input-row span.icon{ padding: 7px; color: #cecece;  font-size: 16px !important; }
.icon-grid{ font-size: 22px; }
.icon-disable{ color: #3071a9 !important; }
.icon-pin{/* margin-left: 6px; margin-right: 6px; */}
ul.rig{ font-size: 0px; list-style: none; padding: 0px !important; margin-left: -2.5%; }
ul.rig li{ display: inline-block; padding: 10px; margin: 0 0 0 2.5%; background: #fff;	font-size: 16px; font-size: 1rem; vertical-align: top; }
ul.rig li img{ max-width: 100%; height: auto; margin: 0 0 5px; }
ul.rig li h4{ font-size: 14px; color: #3481b3; margin-bottom: 5px;	}
ul.rig li h5{ color: #e29652; font-size: 6px; margin: 2px 0 0 0; }
ul.rig li h5 .icon{ font-size: 16px !important; }
ul.rig.col-2 li{ width: 47.5%; }
