body{ font-family: 'Open Sans', sans-serif; }
.title, .bar-nav>a{ color: #fff; text-transform: uppercase;}
.bar{ border-bottom: 0px; }
.blue-nav{ background-color: #3481b3;}
.blue-nav>span>a{ color: #fff; margin-left: 7px;}
.content{ font-family: 'PT Sans', sans-serif; }
.navigate-product:after{ right: 15px; }
.table-view{ border: none !important; margin-top: 0px !important;}
.table-view-cell{ padding-right: 100px !important; border-color: #eee !important; }
.table-view-cell img{ height: 45px;}
.right-group{ top: 50%; right: 20px; position: absolute; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.right-group>.btn{ margin-left: 5px; }
.right-group a{ margin-left: 15px; font-size: 20px; color: #888;}
.media-body{ color: #3481b3; }
.media-body>h4{ font-weight: 600; font-size: 14px !important; margin-bottom: 0px; line-height: 1.2; }
.media-body>p{ font-weight: normal; font-size: 10px; margin-top: -2px; }
